body{
    font-family: "Open Sans";
    background-color: #252A38;
    color: white
    
}
.postContainer{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: auto;
justify-content: space-evenly;

}
.post{
    width: 26%;
    padding: 24px 24px;
    
}
#pimage{
    justify-content: center;
    width: 100%;
    padding:0px 0px;
}
.postImage{
    justify-content: center;

}
.postInfo{  
    background-color: #151820;
   
    margin-bottom: 5px;
}
h1{
font-family: "Open Sans" ;
font-size: 32px;
color:white
}
h3{
    font-size: 24px;
}
.postH1{
    padding: 20px 20px;
}
#profileImage{
    border-radius: 50%;
    border:5px solid white;
    width: 150;
    height: 150;
    float: left;
    margin-left: 40;
    margin-right: 40;
    }
.profiledetails{
    padding: 40px 40px;
    margin-top: -80px;
    margin-bottom: 50px;
    
    
    
}
.coverImage{
    
}
